* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  outline: none;
}
body,
a {
  font-family: calibri;
  font-size: 14px;
  font-weight: normal;
  color: #3B424D;
}
.main-wrap {
  
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('../img/analytics-ss-1920.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  
}
.login-main {
  width: 300px;
  height: 100px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 200px;
  left: 0;
  right: 0;
  background: transparent;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 1px 2px 1px grey;
}
.login-main p {
  text-indent: 10px;
}
.box1 {
  background: navajowhite;
  height: 40px;
  text-indent: 10px;
  width: 90%;
  margin-bottom: 2px;
  color: #3B424D;
  font-size: 15px;
  font-weight: 400;
  font-style: oblique;
}
.border1 {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.border2 {
  -webkit-border-radius: 0px 0 5px 5px;
  -moz-border-radius: 0px 0 5px 5px;
  -ms-border-radius: 0px 0 5px 5px;
  -o-border-radius: 0px 0 5px 5px;
  border-radius: 0px 0 5px 5px;
}
.send {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  right: 9px;
  top: 20px;
  border: 5px solid #5abb3a;
  background: #56ff4c;
  font-size: 13px;
  color: #fff;
  font-weight: normal;
  text-shadow: 1px 1px 2px #000;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.send:hover {
  animation: spin 0.3s ease-in-out;
  -webkit-animation: spin 0.3s ease-in-out;
  -moz-animation: spin 0.3s ease-in-out;
  -ms-animation: spin 0.3s ease-in-out;
  -o-animation: spin 0.3s ease-in-out;
  cursor: pointer;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}

.form-control.input-sm{
    background-color: gainsboro !important;
}

#example_filter>label{
    font-size: 20px;
    color: currentColor;
    margin-left: 40%;
}

.Count{
    font-size: 50px;
    color:coral;
}

.platform{
    text-transform: uppercase;
}

.top-video{
    color:green;
}

.top-video.title{
    font-size: 15px;
}